<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form action="/savesong" th:object="${theSong}" method="post">
        <input type="text" th:field="*{title}">
        <input type="hidden" th:field="*{leadArtiste}">
            <select th:field="*{leadArtiste}" multiple>
                 <option th:each="eachArtiste:${allartistes}"  th:value="${eachArtiste.id}" th:text="${eachArtiste.stageName}==null?${eachArtiste.fullName}:${eachArtiste.stageName}"></option>
             </select>
             <button type="submit">Save</button>
    </form>
</body>
</html>